.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.button {
  text-align: center;
  font-family: var(--fonts);
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-style: inset;
  padding: 0.25em 0.5em;
  border-radius: 0;
  width: fit-content;
  background: var(--color-mint);
  border: 1px solid var(--color-shadow);
  box-shadow: 1px 1px 0px 0px #82aa9a,
    2px 2px 0px 0px #82aa9a, 3px 3px 0px 0px #82aa9a,
    4px 4px 0px 0px #82aa9a;
  margin-top: 0.5rem;
  transition: all 0.3s;
  align-self: center;
  color: var(--color-text);
}

.button:hover:not(:disabled) {
  cursor: pointer;
}

.button:disabled {
  background: none;
  box-shadow: 0 0 0 0;
  color: var(--color-shadow);
}
.button:active:not(:disabled) {
  box-shadow: 0 0 0 0;
}

.button.reset {
  color: var(--color-warning);
  background: var(--color-warning-light);
  border: 1px solid var(--color-warning);
  box-shadow: 1px 1px 0px 0px var(--color-warning),
    2px 2px 0px 0px var(--color-warning), 3px 3px 0px 0px var(--color-warning),
    4px 4px 0px 0px var(--color-warning);
}
