.delete {
  display: flex;
  position: absolute;
  right: -30px;
}

.inputsContainer {
  margin-top: 0.1rem;
  position: relative;
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  padding: 0;
}
.numberInputs {
  display: flex;
  gap: 0.2em;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .delete {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0;
    margin: 0.5rem;
  }
  .inputsContainer {

    border-bottom: 0.1rem solid var(--color-mint);
    padding: 0.5rem 0;
  }
}
