body {
  font-size: 1.25rem;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
}

header {
  font-family: var(--fonts);
  font-size: 3rem;
  color: var(--color-text);
  text-shadow: 1px 1px var(--color-shadow);
  text-align: center;
  font-weight: bolder;
  width: 100vw;
  background: var(--color-mint);
  padding: 1.5rem;
  margin-bottom: 2rem;
}
